.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 29, 73, 0.847);
    color: white;
  }
  
  .logo img {
    height: 3rem;
    padding-left: 620px;
  }
  
  .search {
    display: flex;
    align-items: center;
    color: gray;
    padding-left: 35rem;
    margin-right: 3rem;
  }
  
  .search input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    margin-right: 0.5rem;
  }
  
  .search button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
  }
  
  .menu {
    padding-left: 1rem;
    flex: 1;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li:not(:last-child) {
    margin-right: 3rem;
  }
  
  .menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    text-align: center;
  }
  
  .menu a:hover {
    color: #ffffff;
  }
  